#BottomBar {
	border: 1px outset #808080;
	background: var(--lightgreenbg);
}

#Icon {
	display: none;
}

#Queue {
	color: var(--offwhite);
}

#Text {
	border: 1px outset #808080;
	color: var(--offwhite);
}