#TopBar {
    border: 1px outset #808080;
	background: var(--lightgreenbg);
}

#URLBarReplacement {
    background: var(--lightgreenbg);
}

#URLBar {
    background: var(--lightgreenbg);
}

#URL {
    color: var(--offwhite)
}