#SuperNav {
	&::after {
		content: "Theme for Steam version " steam-version();

		margin-top: -7px;
		margin-left: auto;
		margin-right: 16px;
	}
}

#MenuButton {
	text-transform: none;
	border: 1px outset #808080;
}