#PagedSettingsDialog_PageListColumn {
	background: #5a6a50;
	border: 1px outset #808080;
}

#PagedSettingsDialog_Title {
	color: #c4b550;
}

#PagedSettingsDialog_PageContent {
	background: #4c5844;
}

#PagedSettingsDialog_PageListItem {
	color: #d8ded3;
}

#Active {
	border: 1px outset #808080;
	background: #4c5844;
}

#PageListSeparator {
	background: #3e4637;
}
